<!DOCTYPE html>
<html lang="en"></html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Welcome to my Flickr alike site {%endblock%}</title>

</head>

<body>
    <nav>
        <a href="{%url 'photos_home' %}">Home</a>

        {%if user.is_authenticated%}
            <a href="{% url 'create_photo'%}">Create Photo</a>

            <a href="{%url 'users_logout' %}"> Logout </a>
        {% else %}
            <a href="{%url 'users_login' %}"> Login </a>
        {% endif %}
    </nav>
    <hr>
    <section>
        {% block section %} {%endblock%}

    </section>
    <hr>
    <small> Pokedex project all rights reserved</small>
</body>
</html>
